{% extends 'base.html' %}

{% block content %}
<h1>Course  Details</h1>
<a href="{% url 'addcourse' %}"> Add course </a>
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Course Name</th>
      <th scope="col">Description</th>
      <th scope="col"></th>
      <th scope="col"></th>
    </tr>
  </thead>
  {% for course in courses %}
  <tbody>
  <tr>
    <td>{{ course.coursename }}</td>
    <td>{{ course.coursedescription }}</td>
    <td> <a href={% url 'editcourse' course.courseid %}> Edit </td>
    <td> <a href={% url 'deletecourse' course.courseid %}> Delete </td>
  </tr>
  </tbody>
  {% endfor %}
</table>

{% endblock content %}
