{% extends 'base.html' %}

{% block content %}
<h1>Student  Information</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">First</th>
      <th scope="col">Last</th>
      <th scope="col">Phone number</th>
      <th scope="col">Email Id</th>
    </tr>
  </thead>
  {% for student in students %}
  <tbody>
  <tr>
    <td>{{ student.studentfirstname }}</td>
    <td>{{ student.studentlastname }}</td>
    <td>{{ student.studentphonenumber }}</td>
    <td>{{ student.studentemailid }}</td>
  </tr>
  </tbody>
  {% endfor %}
</table>

{% endblock content %}
